
nvim/undo/**
nvim/autoload/**

nvim/sessions/__LAST__
nvim/.DS_Store
Alfred.alfredpreferences/workflows/user.workflow.86695317-D8D9-4AFB-82FC-AAF13E73CBFB/packal/package.xml
Alfred.alfredpreferences/workflows/user.workflow.86695317-D8D9-4AFB-82FC-AAF13E73CBFB/icon.png
Alfred.alfredpreferences/workflows/user.workflow.86695317-D8D9-4AFB-82FC-AAF13E73CBFB/index.js
Alfred.alfredpreferences/workflows/user.workflow.86695317-D8D9-4AFB-82FC-AAF13E73CBFB/info.plist